@use '../base/variables.scss'as var;

.accordion {
  border: 1px solid var.$gainsborough;
  margin-bottom: 10px;

  &__control {
    padding: 15px 20px 15px 65px;
    border-bottom: 1px solid transparent;
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      height: 16px;
      width: 16px;
      border-top: 2px solid var.$light-telegray;
      border-right: 2px solid var.$light-telegray;
      transform: translateY(-70%) rotate(135deg);
      transition: ease-in-out .3s;
      position: absolute;
      top: 50%;
      right: 20px;
      z-index: 1;
    }

    &.active {
      border-bottom-color: var.$gainsborough;
      &::after {
        transform: translateY(-50%) rotate(-45deg);
        margin-top: 5px;
      }
    }
  }

  &__icon {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
  }

  &__title {
    color: var.$text-black;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    user-select: none;
  }

  &__text {
    color: var.$light-gray;
    font-size: 14px;
  }

  &__content {
    display: none;
    padding: 15px 20px;
    font-style: italic;
    transition: ease-in-out .3s;

    &.active {
      display: block;
    }
  }
}