$primary-color: #ffffff;
$secondary-color: #d98080;
$yellow: #f5e28e;
$text-black: #333333;
$light-gray: #bbbbbb;
$smoky-white: #f8f8f8;
$dusty-blue: #aee0d2;
$statistics-borderColor: #c6e9e0;
$blogAndFooterElemColors: #61c6b3;
$gainsborough: #e5e5e5;
$light-telegray: #cbcbcb;
$pearl-light-gray: #999999;
$dull-gray: #676767;
$copyright-span: #e1a2a2;
$mapActive-text: #ff0000;


$image-filter: linear-gradient(to bottom, $secondary-color, $yellow)