@use '../base/variables.scss'as var;
@use '../mixins/mixins.scss'as mixin;

/*__________________________________________Slider*/
.slider-container {
  position: relative;
}

.slider {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;

  .slider__line {
    width: 100%;
    display: flex;
    align-items: center;
    transition: all 1s;
  }


  &__item {
    // display: flex;
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
    // padding-left: 220px;
    position: relative;
  }
  
  &__icon {
    display: inline-block;
    padding: 30px 40px;
    margin-right: 50px;
    border: 3px solid var.$dusty-blue;
  }
  
  &__photo {
    display: block;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 3px solid var.$dusty-blue;
    // position: absolute;
    // top: -40px;
    // left: 0;
    // z-index: 1;
  }
  
  &__author {
    font-family: cursive;
    color: var.$text-black;
    font-size: 20px;
    &::before {
      @include mixin.underline;
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px 0 0;
    }
  }
  
  &__text {
    display: inline-block;
    color: var.$pearl-light-gray;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 15px;
    padding-top: 15px;
  }
}

.slider__btn {
  width: 40px;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  transition: box-shadow 100ms linear;
  border: none;
  cursor: pointer;
  position: relative;
  top: calc(45% - 15px);
}

.slider__btn:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.slider__btn:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.slider__btn-prev {
  left: 0;
}

.slider__btn-next {
  right: 0;
}

.slider__dots {
  display: flex;
  column-gap: 10px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.slider__dot {
  width: 30px;
  height: 10px;
  border: 1px solid #241e18;
  border-radius: 50px;
  cursor: pointer;
}

.slider__dot:hover {
  background: linear-gradient(45deg, #00ffbf 0%, #0088ff 50%, #00ffd0 80%);
}

.active-dot {
  background: linear-gradient(45deg, #00ffbf 0%, #0088ff 50%, #00ffd0 80%);
}

//_________________________________________________________Media
@media screen and (max-width: 990px) {

  .slider .slick-slider {
    // padding: 0 60px;
  }

  .slider__item {
    // padding-left: 175px;
  }

  .slider__photo,
  .slider__icon {
    // width: 150px;
    // height: 150px;
    // top: 0;
  }
}


@media screen and (max-width: 770px) {

  .slider {
    // padding: 0 60px;
  }

  .slider__photo,
  .slider__icon {
    position: static;
    margin: 0 auto 20px;
  }

  .slider__item {
    padding-left: 0;
  }

  .slider__text {
    font-size: 16px;
  }

  .slider__author {
    font-size: 20px;
  }
}

@media screen and (max-width: 575px) {

  .slider .slick-slider {
    padding: 0;
  }

  .slick-arrow {
    top: 18%;
  }
}